<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/angular-route.js"></script>
    <script src="../js/route.js"></script>
</head>

<body ng-app="myApp" class="ng-scope">
<script type="text/ng-template" id="embedded.home.html">
    <h1> Home </h1>
</script>

<div>
    <div id="navigation">
        <a href="#/home">Home</a>
        <a href="#/about">About</a>
        <a href="#/welcome">welcome</a>
    </div>

    <div ng-view="">
    </div>
</div>
</body>
</html>